%section.jumbotron.text-center
  .container
    %h1.jumbotron-heading Album example
    %p.lead.text-muted Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.
    %p
      %a.btn.btn-primary{:href => "#"} Main call to action
      %a.btn.btn-secondary{:href => "#"} Secondary action
      = link_to('Logout', destroy_user_session_path)
      = @friends.inspect
.album.text-muted
  .container
    .row
      .card
        %img{:alt => "Card image cap", :src => "#{ENV['THUMBOR_URL']}/unsafe/356x280/i.imgur.com/bvjzPct.jpg"}/
        %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      .card
        %img{:alt => "Card image cap", :src => "#{ENV['THUMBOR_URL']}/unsafe/356x280/i.imgur.com/bvjzPct.jpg"}/
        %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      .card
        %img{:alt => "Card image cap", :src => "#{ENV['THUMBOR_URL']}/unsafe/356x280/i.imgur.com/bvjzPct.jpg"}/
        %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      .card
        %img{:alt => "Card image cap", :src => "#{ENV['THUMBOR_URL']}/unsafe/356x280/i.imgur.com/bvjzPct.jpg"}/
        %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      .card
        %img{:alt => "Card image cap", :src => "#{ENV['THUMBOR_URL']}/unsafe/356x280/i.imgur.com/bvjzPct.jpg"}/
        %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      .card
        %img{:alt => "Card image cap", :src => "#{ENV['THUMBOR_URL']}/unsafe/356x280/i.imgur.com/bvjzPct.jpg"}/
        %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      .card
        %img{:alt => "Card image cap", :src => "#{ENV['THUMBOR_URL']}/unsafe/356x280/i.imgur.com/bvjzPct.jpg"}/
        %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      .card
        %img{:alt => "Card image cap", :src => "#{ENV['THUMBOR_URL']}/unsafe/356x280/i.imgur.com/bvjzPct.jpg"}/
        %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      .card
        %img{:alt => "Card image cap", :src => "#{ENV['THUMBOR_URL']}/unsafe/356x280/i.imgur.com/bvjzPct.jpg"}/
        %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
