!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Facebook Photo Site
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              %h3.masthead-brand Facebook Photo Site
              %nav.nav.nav-masthead
                - if user_signed_in?
                  = link_to 'Logout', destroy_user_session_path, class: 'btn btn-secondary'
                / %a.nav-link.active{:href => "#"} Home
                / %a.nav-link{:href => "#"} Features
                / %a.nav-link{:href => "#"} Contact
          = yield
          .mastfoot
            .inner
              %p
                Created by
                = link_to 'AndBobsYourUncle', 'https://github.com/AndBobsYourUncle'
