!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Facebook Photo Site
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .navbar.navbar-dark.bg-dark
      .container.d-flex.justify-content-between
        %a.navbar-brand{:href => "#"} Album
        .user_options
          - if user_signed_in?
            = link_to 'Logout', destroy_user_session_path, class: 'btn btn-secondary'
    = yield
    %footer.text-muted
      .container
        %p.float-right
          %a{:href => "#"} Back to top
        %p Album example is © Bootstrap, but please download and customize it for yourself!
        %p
          New to Bootstrap?
          %a{:href => "../../"} Visit the homepage
          or read our
          = succeed "." do
            %a{:href => "../../getting-started/"} getting started guide
